{% extends "base.html" %} {% block content %}


{% if wrongPassword %}
<p>Benutzername oder Passwort is falsch</p>
{% endif %}

<div class="page-content">
    <h3>LOGIN</h3>
    <form action="/login/" method="post">
        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ redirect }}" />
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" name="username" required type="text" id="sample3" placeholder="Username...">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" name="password" required type="password" id="sample3" placeholder="Password...">
        </div>
        <div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">LOGIN</button>
        </div>
    </form>
    <div class="link-to-new-registration">
        <a href="/registration/">Click here to create a new account</a>
    </div>
</div>

{% endblock %}
